<div class="container">
  <class="row">
    <!--edit book-->
    <div class="offset-md-4 col-md-4 offset-md-4 mx-auto">
      <h1>Editing Book</h1>

      <%= form_with model: @book do |book| %>

        <!--error message-->
        <div class="error_message">
          <% if @book.errors.any? %>
            <%= @book.errors.count %> error prohibited this obj from being saved:
            <ul>
              <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
        </div>

        <p>Title</p>
        <%= book.text_field :title, class:"form-control mb-4" %>

        <p>Opinion</p>
        <%= book.text_field :body, class:"form-control mb-4" %>

        <div><%= book.submit "Update Book", class:"mb-4 btn btn-success" %></div>
      <% end %>

      <%= link_to 'Show', book_path(@book) %> | <%= link_to 'Back', books_path %>
    </div>

  </div>
</div>